.CoinFlip-Div-Main {
    border: 1px solid black;
    background: rgb(80, 80, 138);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */
    display: flex;
}

.CoinFlip-Creator-h6 {
    margin-left: 5%;
    margin-right: 5%;
}

.CoinFlip-Winner-h6 {
    margin-left: 10%;
    margin-right: 5%;
}

.CoinFlip-BuyIn-h6 {
    margin-left: 12%;
    margin-right: 5%;
}