.CoinFlip-Div-Main {
    overflow: auto;
    border: 1px solid black;
    /*background: rgb(80, 80, 138);  */
    background: #40434E;
    color: white;
    /*
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards;
    */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */
    display: flex;
}

.CoinFlip-Creator-h6 {
    margin-left: 5%;
    margin-right: 5%;
}

.CoinFlip-Winner-h6 {
    margin-left: 10%;
    margin-right: 5%;
}

.CoinFlip-Waiting-h6 {
    margin-left: 30%;
    margin-right: 13%;
}


.CoinFlip-BuyIn-h6 {
    float: right;
    margin-left: 12%;
    margin-right: 5%;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    /* width: 25px; */
    height: 25px;
  }
  .lds-ellipsis div {
    position: absolute;
    /* top: 10px; */
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }