.Deposit-Container-Main {
    height: auto;
    width: auto;
}

.Deposit-PopUp-Form {
    /*position: fixed; */
    height: 100%;
    width: 70%;
    margin-top: 5%;
    margin-left: 10%;
    background-color: grey;
    overflow-y: scroll;
}