.PastHighRollerGame-Main-Div {
    background: #40434E;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */
}

.PastHighRollerGame-Winner-h3 {
    color: #FDCFF3;
    /*text-shadow: rgb(203, 176, 204) 3px 3px; */
    font-size: 30px;
}

.PastHighRollerGame-Tickets-h3 {
    color: #FDCFF3;
    /*text-shadow: rgb(203, 176, 204) 3px 3px; */
    font-size: 30px;
}

.PastHighRollerGame-Address-h6 {
    color: #FDCFF3;
    /*text-shadow: rgb(203, 176, 204) 3px 3px; */
    font-size: 20px;
}