.HighRollerDeposits-Main-Div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px;
    -moz-border-radius: 50px; /* or 50% */
    border-radius: 50px; /* or 50% */
}