.Messages-Main-Div-Container {
    margin-top: 0.5%;
    background-color: #0d0b0b;
    text-align: center;
    position:relative;
    width: 15%;
    float: right;
    color: white;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    max-height: 100%;
    /* height: 650px; */
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
    opacity: 83%;
    overflow: hidden;
}

.Messages-Create-New-Message {
    color: white;
}

.test {
    margin-left: 3%;
    margin-right: 3%;

    height: 900px;
    max-height: 900px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column-reverse;
}

.Messages-Message-Div {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    
    /* max-height: 300px; */
    /* overflow: auto; */
}
