.NFT-Selector-Main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 200px;
    margin-top: 3%;
    margin-left: 16%;
    margin-right: 20%;
}

.token-select-img {

}

.NFT-Div-Container {
    -moz-border-radius: 50px; /* or 50% */
    border-radius: 50px; /* or 50% */
}

