.PlayersList-Main-Container {
    width: 50%;

}

.PlayersList-Box-Header {
    display: flex;
    color: white;
}

.PlayersList-Address-Header {
    margin-right: 5%;
}

.PlayersList-Tickets-Header {
    margin-left: 48%;
}

.PlayersList-TotalEth-Header {
    margin-left: 13%;
}

.PlayersList-Chance-Header {
    margin-left: 5%;
}