.Player-Component-Main-Container {
    display: flex;
    margin-bottom: 1%;
    border: 1px solid black;
    background: #211c1c;
    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */
    color: white;
}

.Player-Address {
    margin-right: 5%;
}

.Player-Tickets {
    margin-left: 5%;
}

.Player-TotalEth {
    margin-left: 15%;
}

.Player-Chance {
    margin-left: 10%;
}