.Player-Component-Main-Container {
    display: flex;
    margin-bottom: 1%;
    border: 1px solid black;
    background: rgb(80, 80, 138);
}

.Player-Address {
    margin-right: 5%;
}

.Player-Tickets {
    margin-left: 5%;
}

.Player-TotalEth {
    margin-left: 15%;
}

.Player-Chance {
    margin-left: 10%;
}