.CreateRaffleForm-Main {
    height: auto;
    width: auto;

}

.CreateRaffle-h3 {
    padding-left: 1%;
    color: rgb(255, 242, 145);
    text-shadow: rgb(203, 176, 204) 3px 3px;
    font-size: 40px;
}

.Minimum-BuyIn-h3 {
    padding-left: 1%;
    /*color: rgb(255, 242, 145); */
    color: white;
    text-shadow: rgb(203, 176, 204) 3px 3px;
    font-size: 40px; 
}

.RaffleForm-Create-Button {

}

.CreateRaffle-Form {
    padding-left: 5%;
    display: flex;

}

.CreateRaffle-Form-Container {
    display: flex;
}

.CreateRaffle-Form {
    margin-top: 3%;
}

.PopUpRaffle-Form {
    /*position: fixed; */
    padding-left: 4px;
    height: 100%;
    width: 70%;
    margin-top: 5%;
    margin-left: 10%;
    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */
    /* background: rgb(80, 80, 138); */
    background: #40434E;
    overflow-y: scroll;
}

.RaffleForm-Minimum-Buyin {
    background-color: white;
    padding-top: 30px;
}


.RaffleForm-Minimum-Tickets {
    background-color: white;
}