.WinnerBox-Main-Div {
        
    background: rgb(80, 80, 138);
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid black;
    display: flex;
}

.Title-Raffle-Winner {
    margin-left: 1%;
    margin-right: 10%;
}

.Title-Raffle-Total-Pot {
    margin-left: 10%;
    margin-right: 10%;
}

.Title-Raffle-Chance {
    margin-left: 10%;
}