.CoinFlipViewer-Div-Main {
    padding-top: 10%;
    text-align: center;
    align-items: center;
    /*background: rgb(50, 50, 128);*/
}

.Coinflip-Main-Title {
    /*color: white; */
    color: rgb(255, 242, 145);
    text-shadow: rgb(203, 176, 204) 3px 3px;
    font-size: 40px;
}

.CoinFlip-VS-h3 {
    padding-right: 5%;
    color: rgb(3, 3, 3);
    text-shadow: rgb(203, 176, 204) 3px 3px;
    font-size: 40px;
}

.CoinFlip-Game-Container {
    margin-top: 10%;
    text-align: center;
}

.CoinFlip-GameInfo-Div {
    background: rgb(80, 80, 138);
    border: 1px solid black;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    -moz-border-radius: 10px; /* or 50% */
    border-radius: 10px; /* or 50% */
}

.CoinFlip-Players-Container {
    display: flex;
    justify-content: center;

}

.CoinFlip-Players-Creator-Div {
    border: 1px solid black;
    background: rgb(80, 80, 138);
    margin-right: 5%;
    -moz-border-radius: 10px; /* or 50% */
    border-radius: 10px; /* or 50% */

}

.CoinFlip-Players-Joinee-Div {
    border: 1px solid black;
    background: rgb(80, 80, 138);
    margin-left: 5%;
    -moz-border-radius: 10px; /* or 50% */
    border-radius: 10px; /* or 50% */
}

.CoinFlip-Players-Waiting-Div {
    border: 1px solid black;
    background: rgb(80, 80, 138);
    -moz-border-radius: 10px; /* or 50% */
    border-radius: 10px; /* or 50% */
}



/* COIN FLIP ANIMATION */
