.CoinFlips-Container-Main {
    text-align: center;
    background: rgb(50, 50, 128);

}

.CoinFlips-Container-Title-h1 {
    color: rgb(255, 242, 145);
    text-shadow: rgb(203, 176, 204) 3px 3px;
    font-size: 40px;
}

.CurrentCoinFlips-Container {
    width: 70;
    border: 6px solid black;
    padding-top: 2%;
    padding-bottom: 5%;
}

.CoinFlips-Games-Header{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}

.CoinFlips-Current-CoinFlips-h2 {
    margin-bottom: 2%;
}

/* CURRENT COIN FLIPS */

.CurrentCoinFlips-Container {
    width: 70;
    border: 6px solid black;
    padding-top: 2%;
    padding-bottom: 5%;
}

.CoinFlips-Creator-h3 {
    margin-left: 20%;
    margin-right: 5%;
}

.CoinFlips-Winner-h3 {
    margin-left: 20%;
    margin-right: 5%;
}



.CoinFlips-BuyIn-h3 {
    margin-left: 56%;
    margin-right: 5%;
}

/* PAST COIN FLIPS */


.PastCoinFlips-Container {
    width: 70;
    border: 6px solid black;
    padding-top: 2%;
    padding-bottom: 5%;
}

.PastCoinFlips-Creator-h3 {
    margin-left: 20%;
    margin-right: 5%;
}

.PastCoinFlips-Winner-h3 {
    margin-left: 20%;
    margin-right: 5%;
}

.PastCoinFlips-Winner-h3 {
    margin-left: 30%;
    margin-right: 5%;
}


.PastCoinFlips-BuyIn-h3 {
    margin-left: 26%;
    margin-right: 5%;
}