.HighRollers-Div-Main {
    text-align: center;
}

.HighRollers-Current-Game-h3 {
    color: rgb(255, 242, 145);
    text-shadow: rgb(203, 176, 204) 3px 3px;
    font-size: 40px;
}

.HighRollers-Current-Game-Address-h3 {
    color: rgb(255, 242, 145);
    font-size: 20px;
}

.HighRollers-Current-Game-Winner-Address-h3 {
    color: rgb(255, 242, 145);
    font-size: 20px;
}

.HighRollers-Current-Game-TimeLeft-h3 {
    color: rgb(255, 242, 145);
    font-size: 20px;
}

.HighRollers-GameInfo-Container {
    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */
    width: 40%;
    height: 50%;
    min-height: 300px;
    margin-left: 30%;
    /*border: 1px solid blue; */
    background: #211c1c;
}

.HighRollers-PlayerList-Container {
    width: 80%;
    margin-left: 30%;
}