.HighRollers-Div-Main {
    text-align: center;
}

.HighRollers-Current-Game-h3 {
    color: rgb(255, 242, 145);
    text-shadow: rgb(203, 176, 204) 3px 3px;
    font-size: 40px;
}

.HighRollers-Current-Game-Address-h3 {
    color: rgb(255, 242, 145);
    font-size: 20px;
}

.HighRollers-Current-Game-Winner-Address-h3 {
    color: rgb(255, 242, 145);
    font-size: 20px;
}

.HighRollers-Current-Game-TimeLeft-h3 {
    color: rgb(255, 242, 145);
    font-size: 20px;
}

.HighRollers-GameInfo-Container {
    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */
    width: 40%;
    height: 50%;
    min-height: 300px;
    margin-left: 30%;
    /*border: 1px solid blue; */
    background: #211c1c;
}

.HighRollers-PlayerList-Container {
    width: 80%;
    margin-left: 30%;
}


.lds-ellipsis {
    margin-right: 39%;
    display: inline-block;
    position: relative;
    /* width: 25px; */
    height: 25px;
  }
  .lds-ellipsis div {
    position: absolute;
    /* top: 10px; */
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }