.PastHighRoller-Games-Main-Div {
    margin-top: 5%;
}
.PastHighRoller-Games-h1 {
    color: #FDCFF3;
    /*text-shadow: rgb(203, 176, 204) 3px 3px; */
    font-size: 30px;
}

.PastGames-Header-h3 {
    color: #FDCFF3;
    /*text-shadow: rgb(203, 176, 204) 3px 3px; */
    font-size: 30px;
}