.RaffleViewer-Div-Main {
    /* padding-top: 10%; */
}

.RaffleViewer-Viewer-Container {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
}

.Token-Image-Div {
    height: 25%;
    width: 25%;
    padding-right: 1%;

}

.Token-Image {
    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */
}

.WinnerBox-Main-Div {
    padding-left: 3%;
    color: white;
    background: #211c1c;
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid black;
    display: flex;
    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */
}

.Title-Raffle-Winner {
    margin-left: 1%;
    margin-right: 10%;
}

.Title-Raffle-Total-Pot {
    margin-left: 10%;
    margin-right: 10%;
}

.Title-Raffle-Chance {
    margin-left: 10%;
}