.RaffleViewer-Div-Main {
    /* padding-top: 10%; */
}

.RaffleViewer-Viewer-Container {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
}

.Token-Image-Div {
    height: 25%;
    width: 25%;
    padding-right: 1%;

}

.Token-Image {
    -moz-border-radius: 20px; /* or 50% */
    border-radius: 20px; /* or 50% */
}