.Raffles-title-container {
    padding-top: 7%;
    padding-left: 18%;
    font-family: "Courier New, Monospace"
}

.Raffles-Viewer-Main {
    margin-left: 10%;
    margin-right: 10%;
}

.Raffle-Div-Main-Container {

}

.currentRafflesTitle {
    font-size: 30px;
    padding-left: 5%;
}

.spacing {
    padding-top: 15px;
}

.currentRafflesCard {
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(206, 206, 206);
    width: 90%;
    height: 390px;
    margin-left: 5%;
    margin-top: 10px;
  }
  
  .swiper-slide {
    height: auto;
    text-align: center;
    font-size: 25px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }