.Raffles-container-main {
    background: rgb(50, 50, 128);
}

.Raffles-Title-h1 {
    color: rgb(255, 242, 145);
    text-shadow: rgb(203, 176, 204) 3px 3px;
    font-size: 40px;
}

.Raffles-title-container {
    padding-top: 7%;
    padding-left: 18%;
    font-family: "Courier New, Monospace";
}

.Raffles-Viewer-Main {
    margin-left: 10%;
    margin-right: 10%;
}

.Raffle-Div-Main-Container {
}

